.card {
    background: #fff;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #eee;
    width: 220px
}

.card h4 {
    margin: 0 0 6px
}

.card .desc {
    font-size: 13px;
    color: #333
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px
}